body{
  padding: 0;
  margin: 0;
  background-color:#323334;
}
.text-wrapper{
  background-image: url(../images/pizzabackground.jpg);
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.title{
  padding:4%;
  text-align: center;
  margin-left: 50%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 90px;
  color:#323334;
}
.title1{
  margin-left: 50%;
  font-family: 'Bad Script', cursive;
  font-size: 60px;
  color: white;
}
.text-wrapper1{
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.menu{
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 50px;
  color:#b78b43;

}
.card{
  font-family: 'Gayathri', sans-serif;
}
.one{
  background-color: #008C45;
}
.two{
  background-color:;
}
.three{
  background-color: #CD212A;

}
.topping{
  transition:transform .2s;
}
.text-wrapper2{
  background-image: url(../images/contactbackground.jpg);
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.zoom {
  transition:transform .2s;
}
.zoom:hover {
  transform: scale(1.1);
}
.background{
  background-color:transparent;
}
h2{
  font-size: 40px;
  font-family: 'Fredericka the Great', cursive;
  color: black;
}
.order{
  display: inline;
  width:30%;
}
.modal-content{
  border-color: transparent;
  background-color: transparent;
  font-family: 'Gayathri', sans-serif;
}
.checkout{
  margin-top: 140px;
  float: right;
}
.form-control{
  width:500px;
}
.receipt{
  text-align: center;
  font-size: 20px;
  font-family: 'Gayathri', sans-serif;
}
.text-wrapper4{
  background-image: url(../images/pizzawood.jpg);
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#receiptvalue{
  background-color: black;
  opacity: 0.7;
  border-radius: 4px;
}
.lables {
  margin-top: 20px;

}
.checkoutbtn{
  margin-top:20px;
}
/* MEDIA QUERIES */
@media screen  and  (max-width:1000px)  {
  .text-wrapper{
    width:100%;
    background-size: cover;
    justify-content: center;
  }
  .text-wrapper img{
    width:100%;
    background-size: cover;
  }
  .title , .title1{
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin-left: 5%;
  }
  .menu{
    width: 100%;
    margin: 20px;
  }
  .card{
    width:100%;
    justify-content: center;
    margin: 20px;
  }
  .card img{
    width: 100%;
    background-size: cover;
  }
  .topping{
    width:100%;
  }
  .form-control{
    width:80%;
    margin-left: 20px;
  }
}
