body{
  padding: 0;
  margin: 0;
  background-color:#323334;
}
.text-wrapper{
  background-image: url(../images/pizzabackground.jpg);
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.title{
  padding:4%;
  text-align: center;
  margin-left: 50%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 90px;
  color:#323334;
}
.title1{
  margin-left: 50%;
  font-family: 'Bad Script', cursive;
  font-size: 60px;
  color: white;
}
.text-wrapper1{
  /* background-image: url(../images/pizzawood.jpg); */
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.menu{
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 50px;
  color:#b78b43;

}
.card{
font-family: 'Gayathri', sans-serif;
}
.one{
background-color: #008C45;
}
.two{
background-color:;
}
.three{
background-color: #CD212A;
}
.topping1 , .topping2 , .topping3 , .topping4, .topping5{
display: none;
text-align: center;
font-size: 30px;
font-family: sans-serif;
color: white;
position: absolute;
top: 0;
bottom: 0;
width: 100%;
}
.topping{
transition:transform .2s;
}
.text-wrapper2{
  background-image: url(../images/contactbackground.jpg);
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.zoom {
  transition:transform .2s;
}
.zoom:hover {
  transform: scale(1.1);
}
.background{
  background-color:transparent;
}
#show-contact, #crust{
  display:none;
  float: left;
}
h2{
  font-size: 40px;
  font-family: 'Fredericka the Great', cursive;
  color: black;
}
