body{
  padding: 0;
  margin: 0;
  background-color:;
}
.text-wrapper{
  background-image: url(../images/pizzabackground.jpg);
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.title{
  padding:4%;
  text-align: center;
  margin-left: 50%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 90px;
  color: black;
}
.title1{
  margin-left: 50%;
  font-family: 'Bad Script', cursive;
  font-size: 60px;
}
.text-wrapper1{
  /* background-image: url(../images/pizzawood.jpg); */
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.menu{
  text-align: center;
  font-family: 'Fredericka the Great', cursive;

}
.card{
font-family: 'Gayathri', sans-serif;
}
.topping1 , .topping2 , .topping3 , .topping4, .topping5{
display: none;
background-color: black;
color: white;
opacity: 0.5;
position: absolute;
top: 0;
bottom: 0;
width: 100%;
}
.text-wrapper2{
  background-image: url(../images/contactbackground.jpg);
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
